<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="title">Список дисциплин</div>
    <div class="button">Компьютерная графика</div> <!-- kg.html -->
    <div class="button">ОБД</div> <!-- odb.html -->
    <div class="button">Английский язык</div> <!-- el.html -->
    <div class="button">Физическая культура</div> <!-- pc.html -->
    <div class="button">Алгоритмы</div> <!-- al.html -->
    <div class="s_button">Добавить студента</div> <!-- student.html -->
</body>
</html>