<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Журнал ПГТУ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="top-container">
        <div class="title">Список дисциплин</div>
        <a href="{{ url_for('login') }}" class="corner-button">Войти</a>
    </div>
    <a href="{{ url_for('kg') }}" class="button">Компьютерная графика</a> <!-- kg.html -->
    <a href="{{ url_for('odb') }}" class="button">ОБД</a> <!-- odb.html -->
    <a href="{{ url_for('el') }}" class="button">Английский язык</a> <!-- el.html -->
    <a href="{{ url_for('pc') }}" class="button">Физическая культура</a> <!-- pc.html -->
    <a href="{{ url_for('al') }}" class="button">Алгоритмы</a> <!-- al.html -->
    {% if current_user.is_authenticated and current_user.group == 'admin' %}
        <a href="{{ url_for('student') }}" class="s_button">Добавить студента</a> <!-- student.html -->
    {% endif %}
</body>
</html>