<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='student.css') }}">
</head>
<body>
    <div class="top-container">
    <h1>Добавьте студента</h1>
    <a href="{{url_for('manya')}}" class="manya-button">Главная страница</a>
    </div>
    <form method="POST" class="student-form">
        <label for="name">Имя*:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <label for="surname">Фамилия*:</label>
        <input type="text" id="surname" name="surname" required>
        <br>
        <label for="patronymic">Отчество:</label>
        <input type="text" id="patronymic" name="patronymic">
        <br>
        <button type="submit" class="submit-button">Заполнить форму</button>
        <a href="{{ url_for('student_table') }}" 
        style="background-color: #4a864c; color: white; padding: 10px 15px; text-decoration: none; border-radius: 5px; display: inline-block;">
        Просмотреть всех студентов
     </a>
        
    </form>
</body>
</html>